<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ config.extra.name }}</title>
    <link rel="stylesheet" href="{{ get_url(path="styles/styles.css") | safe }}" />
  </head>

  <body class="h-screen flex flex-col">
    <nav class="container flex flex-initial mb-4 text-lg">
      <div class="flex flex-1">
        <span class="flex flex-initial py-4 pr-4 font-bold">{{ config.extra.name }}</span>
        {% for item in config.extra.nav %}
        <a class="nav-item {%if current_path == item.link%}border-b-purple-800{%endif%}" href="{{item.link}}">{{item.name}}</a>
        {% endfor %}
      </div>
      <div class="flex-initial">
        {% for item in config.extra.handles %}
          <a class="nav-item" href="{{item.link}}">{{item.name}}</a>
        {% endfor %}
      </div>
    </nav>
    <section class="flex flex-1 container">
      {% block content %} {% endblock %}
    </section>
  </body>
</html>
