<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ config.extra.name }}</title>
    <link rel="stylesheet" href="{{ get_url(path="styles/styles.css") | safe }}" />
    {% if get_env(name="ENV",default="dev") == "prod" %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{get_env(name="GA_ANALYTICS_ID")}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{get_env(name="GA_ANALYTICS_ID")}}');
    </script>
    {% endif %}
  </head>

  <body class="h-screen flex flex-col">
    <nav class="container flex flex-initial mb-4 text-lg">
      <div class="flex flex-1">
        <span class="flex flex-initial py-4 pr-4 font-bold">{{ config.extra.name }}</span>
        {% for item in config.extra.nav %}
        <a class="nav-item {%if current_path == item.link%}border-b-purple-800{%endif%}" href="{{item.link}}">{{item.name}}</a>
        {% endfor %}
      </div>
      <div class="flex-initial">
        {% for item in config.extra.handles %}
          <a class="nav-item" href="{{item.link}}">{{item.name}}</a>
        {% endfor %}
      </div>
    </nav>
    <section class="flex flex-1 container">
      {% block content %} {% endblock %}
    </section>
    <footer class="py-6 bg-slate-200 mt-6">
      <div class="container flex justify-evenly">
        <div class="flex flex-initial items-center flex-col">
          {% for item in config.extra.nav %}
          <a class="footer-nav-item {%if current_path == item.link%}border-b-purple-800{%endif%}" href="{{item.link}}">{{item.name}}</a>
          {% endfor %}
        </div>
        <div class="flex flex-initial items-center flex-col">
          {% for item in config.extra.handles %}
          <a class="footer-nav-item {%if current_path == item.link%}border-b-purple-800{%endif%}" href="{{item.link}}">{{item.name}}</a>
          {% endfor %}
          <a class="footer-nav-item" href="mailto:{{config.extra.email}}">{{config.extra.email}}</a>
          <span class="footer-nav-item">Shawinigan, QC, Canada</span>
          <span class="footer-nav-item">Coding with ❤️</span>
        </div>
        <div class="flex flex-initial items-center flex-col">
          <span class="footer-nav-item">Built with</span>
          <a class="footer-nav-item" href="https://www.getzola.org/">Zola</a>
          <a class="footer-nav-item" href="https://tailwindcss.com/">TailwindCSS</a>
          <a class="footer-nav-item" href="https://github.com/nicklayb/zola-nboisvert.com">Source</a>
        </div>
      </div>
    </footer>
  </body>
</html>
