{% extends "base.html" %}

{% block content %}

<div class="w-full">
  <h1 class="text-4xl font-extrabold mb-6">{{section.title}}</h1>

  <p class="text-center py-2 text-slate-400">{{section.description}}</p>

  <div class="w-full mt-4">
    {% for page in section.extra.sandbox %}
    <div class="flex mt-8 p-2 desktop:p-4 bg-slate-50 dark:bg-slate-900 rounded-md shadow-md">
      <div class="flex-initial max-w-80 hidden desktop:block">
        <img class="border-2 border-purple-800 rounded-md drop-shadow-md" src="{{page.image}}">
      </div>
      <div class="flex flex-col flex-1 desktop:pl-4">
        <div class="flex w-full justify-between flex-col desktop:flex-row">
          <h3 class="flex-initial text-2xl desktop:text-3xl mb-2">{{page.title}}</h3>
          <div class="flex-initial">
            {% for tag in page.tags %}
              <span class="tag">{{tag}}</span>
            {% endfor %}
          </div>
        </div>
        <div class="flex-initial w-full desktop:max-w-80 block desktop:hidden my-4">
          <img class="border-2 border-purple-800 rounded-md drop-shadow-md" src="{{page.image}}">
        </div>
        <div class="flex-1">
          {{page.description}}
        </div>
        <div class="text-right pb-4">
          {% for link in page.links %}
            <a class="text-purple-800 dark:text-purple-500 font-semibold px-4" href="{{link.link}}">{{link.name}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
