{% extends "base.html" %}

{% block content %}

<div class="w-full">
  <h1 class="text-4xl font-extrabold mb-6">{{section.title}}</h1>

  <p>{{section.description}}</p>

  <div class="w-full">
    {% for page in section.pages %}
    <div class="w-full mt-8">
      <h3 class="text-3xl mb-2">{{page.title}}</h3>
      <div class="flex justify-between">
        <a class="handle" href="{{page.extra.location.url}}">@{{page.extra.location.name}}</a>
        <div class="">
          {% for tag in page.extra.tags %}
            <span class="tag">{{tag}}</span>
          {% endfor %}
        </div>
      </div>
      <div class="py-4">
        <iframe
          width="100%"
          height="500"
          src="https://www.youtube.com/embed/{{page.extra.video_code}}"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        ></iframe>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
